/*============== MOBILE ======= */

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
}

/*============== /MOBILE ================ */

/*============== TABLET ================= */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .page-header {
    padding-bottom: 10px;
  }

  .mobile-menu-open {
    display: none;
  }

  /* ========== ABOUT TABLET ============= */

  .thirdly-title {
    text-align: left;
  }

  .aboutus {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }

  .about-item:nth-child(2n + 1) {
    margin-right: 24px;
  }

  .about-item {
    margin-bottom: 64px;
  }

  .about-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }

  /* ========== EMPLOYEES TABLET ============= */

  .employees {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .employees-item:not(:last-child) {
    margin-bottom: 0;
  }

  /* ========== CUSTOMERS TABLET ============= */

  .customers-list {
    gap: 72px 24px;
  }

  .customer-item {
    max-width: 168px;
  }
}

/*============== /TABLET ============== */

/*============== DESKTOP ===================== */
@media screen and (min-width: 1200px) {
  .container {
    width: 1160px;
  }

  .logo-header {
    margin-right: 76px;
  }

  .page-header {
    padding-bottom: 28px;
  }

  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .mail {
    margin-right: 40px;
  }

  /* ========== OFFER DESKTOP ============= */

  .offer {
    background-color: #ffffff;
  }

  .section-offer {
    padding-bottom: 120px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .weoffer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  /* ========== ABOUT DESKTOP ============= */
  .about-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .about-item:not(:nth-child(4n)) {
    margin-right: 24px;
  }

  .about-item:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }

  .about-item::before {
    display: block;
    content: '';
    height: 112px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 100px;
  }

  .icon-antenna::before {
    background-image: url('../images/about/antenna.svg');
  }

  .about-item.icon-clock::before {
    background-image: url('../images/about/clock.svg');
  }

  .about-item.icon-diagram::before {
    background-image: url(../images/about/diagram.svg);
  }

  .about-item.icon-astronaut::before {
    background-image: url(../images/about/astronaut.svg);
  }

  /* ========== EMPLOYEES DESKTOP ============= */

  /* .employees-item {
    flex-basis: calc((100%-72px) / 4);
  } */

  /* ========== CUSTOMERS DESKTOP ============= */

  .customers-list {
    gap: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .offer {
    display: none;
  }
}

/*============== /DESKTOP ======= */
